<!DOCTYPE html>
<html>
  <body>

  <h3>User Search History</h3>
  <p>{{User1}} <br> {{User2}} <br>{{User3}} <br></p>

  <h3>All Keywords</h3>

  <form action=""  method ='post'>
  {%csrf_token%}

    <div class="form-check">
      <input type="checkbox" id="k1" name="key" value="k1">
      <label for="k1"> django</label><br>
    </div>
      <div class="form-check">
      <input type="checkbox" id="k2" name="key" value="k2">
      <label for="k2"> stack overflow</label><br>
    </div>
      <div class="form-check">
      <input type="checkbox" id="k3" name="key" value="k3">
      <label for="k3"> ajax</label><br><br>
    </div>

    <h3>All Users</h3>

    <div class="form-check">
      <input type="checkbox" id="u1" name="user" value="u1">
      <label for="u1"> User1</label><br>
    </div>
      <div class="form-check">
      <input type="checkbox" id="u2" name="user" value="u2">
      <label for="u2"> User2</label><br>
    </div>
      <div class="form-check">
      <input type="checkbox" id="u3" name="user" value="u3">
      <label for="u3"> User3</label><br><br>
    </div>
      <button type="submit"> Submit</button>
    </div>
  </form>

  <br><p>Filtered results are showed in terminal</p>
  </body>


</html>

