<!DOCTYPE html>
<html>
  <body>

  <h3>User Search History</h3>
  <p>{{User1}} <br> {{User2}} <br>{{User3}} <br></p>

  <h3>All Keywords</h3>

  <form action="/action_page.php">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> django</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> stack overflow</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> ajax</label><br><br>

    <h3>All Users</h3>

    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> User1</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> User2</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> User3</label><br><br>

    <input type="submit" value="Submit">
  </form>

  </body>
</html>

